[Service]
WorkingDirectory=/opt/MNRF
ExecStart=/usr/bin/node /opt/MNRF/server/server.js
Restart=always
Type=simple
User=mnrf
StandardOutput=mnrf_output.log
StandardError=mnrf_error.log
SyslogIdentifier=mnrf


[Install]
WantedBy=multi-user.target