.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.navbar {
  z-index: 100;
  /*box-shadow: 0 2px 5px rgba(0,0,0,.26);*/
  padding: .25rem 0.5rem;
}
.header .nav-link {
    display: block;
    padding: 0.0rem 0.0rem; 
}
.centerContainer {
    display: flex;
    align-items: center;
    /*height: 100%;*/
    width: 100%;
    margin: auto;
}

.bannerTitle.small {
    font-size: 0.75rem;
    font-weight: 500;
    vertical-align: top;
}
.bannerTitle.large {
    font-size: 1.0rem;
    font-weight: 500;
}
.bannerTitle{
    text-align: center;
    margin: auto;
    color: #6a6848;
    display: inline;
}
.bannerTitle.center {
  color: #3f3e20;
  font-size: 1.5rem;
}
.toplogo { height: 30px; }
.invert { filter: invert(100%); }
.jumbotron {
  padding: 0.5rem 0.5rem;
  margin-bottom: 0rem;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,.26);
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 0.5rem 0.5rem;
  }
}


.header .handle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
    margin-top: -4px;
    background: rgba(0, 0, 0, 0.0);
    cursor: ns-resize;
    opacity:0.5;
}
.header .handle:hover {
  opacity:0.8;
}
.jumbotron {
    background-image: url(../img/MNRF-banner.png);
    background-repeat: no-repeat;
    background-position: 0px 15px;
}

.jumbotroncontainer > label {
  display: inherit;
  margin-bottom: auto;
  opacity:0.6;
}
.jumbotroncontainer > input{
  position:absolute;
  visibility:hidden;
  margin-top: 0;
}
.jumbotroncontainer > input:checked ~ .jumbotron{ /* (the next .div) */
  /*transform: translateY(-100%);*/
  margin-top: -76px;
}

.jumbotroncontainer > input:checked ~ label::after {
  content:'\2913';
}
.jumbotroncontainer > label:hover{
  opacity:0.8;
}
.jumbotroncontainer > label::after {
  position:absolute;
  top: 40px;
  margin-top:1rem;
  margin-right:0.5rem;
  border-radius:50%;
  right: 0;
  
  content:'\2912';
  color:grey;
  font-weight:bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.0rem;
  height: 2rem;
  width: 2rem;
  background-color:white;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.26);
  cursor: pointer;
}